In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
Initial_Sales_data=pd.read_csv("Untitled spreadsheet - Sheet1.csv")

In [3]:
Initial_Sales_data

,Customer Name,Product Code,Sale Date,Unit Price,Quantity,Total Price,New_Date
0,CUSTOMER,W.S-FSR,"12 Jul, 2021",4850,1,4850,7/12/2021
1,CUSTOMER,R1-RH180,"12 Jul, 2021",900,1,900,7/12/2021
2,CUSTOMER,FDR-NPR,"12 Jul, 2021",1200,1,1200,7/12/2021
3,CUSTOMER,W.S-KE160,"12 Jul, 2021",4000,1,4000,7/12/2021
4,CUSTOMER,W.S-X 73,"12 Jul, 2021",6500,2,13000,7/12/2021
...,...,...,...,...,...,...,...
5566,ABDI HARAR,W.S-OBAMA,"12 May, 2023",13000,3,39000,5/12/2023
5567,ABDI HARAR,GOMINI-OBAMA,"12 May, 2023",1200,3,3600,5/12/2023
5568,ALI DIRE DAWA,W.S-FSR,"12 May, 2023",11500,5,57500,5/12/2023
5569,ALI DIRE DAWA,SW/LH-EUROTRUKE,"12 May, 2023",2500,3,7500,5/12/2023
5570,ALI DIRE DAWA,SW/RH-EUROTRUKE,"12 May, 2023",2500,3,7500,5/12/2023

In [4]:
x=Initial_Sales_data.drop("Quantity",axis=1)

In [5]:
def convert_to_int(series):
    return series.str.replace(',', '').astype(float).round().astype(int)
x['Total Price'] = convert_to_int(x['Total Price'])
x['Unit Price'] = convert_to_int(x['Unit Price'])

In [6]:
y=Initial_Sales_data["Quantity"]

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,Y_test=train_test_split(x,y,test_size=0.2)

In [8]:
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor()

In [9]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
categorical_features=["Customer Name","Product Code","Sale Date","New_Date"]

In [10]:
one_hot=OneHotEncoder(sparse_output=False)
transformer=ColumnTransformer([("one_hot",
                               one_hot,
                               categorical_features)],
                               remainder="passthrough")
transformed_x=transformer.fit_transform(x)
transformed_x

array([[    0.,     0.,     0., ...,     0.,  4850.,  4850.],
       [    0.,     0.,     0., ...,     0.,   900.,   900.],
       [    0.,     0.,     0., ...,     0.,  1200.,  1200.],
       ...,
       [    0.,     0.,     0., ...,     0., 11500., 57500.],
       [    0.,     0.,     0., ...,     0.,  2500.,  7500.],
       [    0.,     0.,     0., ...,     0.,  2500.,  7500.]])

In [11]:
pd.DataFrame(transformed_x)

,0,1,2,3,4,5,6,7,8,9,...,1422,1423,1424,1425,1426,1427,1428,1429,1430,1431
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4850.0,4850.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,900.0,900.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1200.0,1200.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4000.0,4000.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6500.0,13000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5566,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13000.0,39000.0
5567,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1200.0,3600.0
5568,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11500.0,57500.0
5569,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2500.0,7500.0
5570,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2500.0,7500.0

In [12]:
np.random.seed(42)
x_train,x_test,y_train,y_test=train_test_split(transformed_x,y,test_size=0.2)

In [13]:
model.fit(x_test,y_test)

RandomForestRegressor()

In [14]:
model.score(x_test,y_test)

0.9033083440221099